<div class="artist-profile-container">
        <div class="profile-container">

          <h1 class="profile-artist-name">{{ profileData.name }}</h1>

          <h2 class="profile-heading">Website:</h2>
          <a href="{{ profileData.url }}" target="blank" id="url-link">{{ profileData.url }}</a>

          <p id="full-profile-bio">{{ profileData.bio }}
          </p>

          <div class="descriptors">
            <div class="title">
              <h2 class="profile-heading">Artwork Title:</h2>
              <p id="artwork-title">{{ profileData.artwork_title}}</p>
            </div>
            <div class="price">
              <h2 class="profile-heading">Price:</h2>
              <p id="artwork-price">${{ profileData.price }}</p>
            </div>
            <div class="size">
              <h2 class="profile-heading">Artwork Dimensions:</h2>
              <p id="artwork-dimensions">{{ profileData.dimensions }}</p>
            </div>
          </div>

              <h2 class="profile-heading">Artwork Description:</h2>
              <p id="artwork-description">{{ profileData.art_description }}
              </p>
            <div class="artwork-container">
              {{!-- <img src="../../images/painting-sample.jpg" alt="Oil Painting"> --}}
              <a href="/update-profile" class="update-link update-profile-button" id="update-from-profile">Update My Profile</a>
            </div>
        </div>
        </div>
        <div class="comments-heading-container" id="leave-comment">
        <h2 class="comments-heading" id="comments-title">Comments:</h2>
        <a href="/add-comments" class="leave-comment-link">Leave Comment</a>
        </div>

        <div class="profile-comments-container">
          <div class="comments-container">
            <h3 class="comment-title">I love this artist and his style of painting!</h3>
            <p id="comments" class="buyer-comments">
              This painting reminds me of when I was a child visiting my grandparents. This really takes me back and I just might put in an offer for the painting!
            </p>
          </div>
        </div>